<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", { title: "Decks"}) %>
	<head>
		<script src="/javascript/addDeck.js"></script>
	</head>
	<body>
		<%- include("partials/header") -%>
		<main>
			<section class="container">
				<% for(let deck of decks) { %>
				<article class="wrapper">
					<a href="deck?id=<%= deck.id %>">
						<img src="<%= deck.img %>" />
						<figcaption><%= deck.name %></figcaption>
					</a>
				</article>
				<% } %>
			</section>
			<section class="home">
				<button>New Deck</button>
			</section>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
