<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", { title: "Decks"}) %>
	<head>
		<script src="/javascript/addDeck.js"></script>
	</head>
	<body>
		<%- include("partials/header") -%>
		<main>
			<section class="container">
				<% for(let i = 0; i < 5; i++) { %>
				<article class="wrapper">
					<a href="deck?number=<%= i %>">
						<img src="images/card-back.png" />
						<figcaption>Deck <%= i + 1 %></figcaption>
					</a>
				</article>
				<% } %>
			</section>
			<!-- <button formmethod="get" formaction="/deckview" onclick=""></button> -->
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
