<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", { title: "DrawTest"}) %>
	<body>
		<%- include("partials/header", { pages: pages }) %>
		<main class="deck-view">
			<div class="deckview-grid">
				<div class="topinfo">
					<div class="left">
						<img 
							src="<%= deck.img %>"
							alt="<%= deck.name %>"
							width="200px"
						/>
					</div>
					<div class="middle">
						<h1 class="deckName"><%= deck.name %></h1>
						<% let totalCmc = 0; let totalCards = 0; let totalLandCards = 0 %>
						<% for (let card of cards) { %>
							<% totalCmc += card[0].cmc * card[1]; %>
							<% totalCards += card[1]; %>
							<% if (card[0].types.includes("Land")) totalLandCards += card[1] %>
						<% } %>
						<h2 class="averageManaCost">Average mana cost: <%= Math.round(totalCmc * 100 / totalCards) / 100 %></h2>
						<h2 class="totalCards">Total cards: <%= totalCards %></h2>
						<h2 class="totalLands">Total land cards <%= totalLandCards %></h2>
					</div>
					<div class="right">
						<button id="export">Export</button>
					</div>
				</div>
				<section class="container">
					<% for (let card of cards) {%>
						<a href="#">
							<div class="card">
								<img src="<%= card[0].img %>" alt="<%= card[0].name %>" />
								<h3>X <%= card[1] %></h3>
							</div>
						</a>
						<% } %>
				</section>
				</div>
			</div>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
