<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head", {title: "home"}) %>

	<body>
		<%- include("partials/header", {pages : pages}) -%>
		<main>
			<form action="#" method="GET">
				<input
					type="search"
					name="searchString"
					id="searchInput"
					placeholder="Cardname"
					value="<%= searchString %>"
				/>
				<button>Search</button>
			</form>

			<section class="container">
				<% for (let i = 0; i < Math.min(cards.length, 10); i++) { %> <%-
				include("partials/card", {card: cards[i]}) %> <%} %>
			</section>
			<!-- <div>
				<img src="" alt="" />
				<h2><% cards.name %></h2>
				<p>Type: <% cards.type %> <br>
				   Set name: <% cards.setName %> <br>
				   Rarity: <% cards.rarity %>	
				</p>
				<form action="#" method="GET" class="">
					<select name="Deckname" multiple>
						<option value="A">Deckname: A</option>
						<option value="B">Deckname: B</option>
						<option value="C">Deckname: C</option>
						<option value="D">Deckname: D</option>
						<option value="E">Deckname: E</option>
					</select>
				</form>
			</div> -->
		</main>
		<%- include("partials/footer") -%>
	</body>
</html>
